body {
  background-image: url("background.jpg");
  padding-top: 60px;
  box-sizing: border-box;
  font-family: 'Finger Paint', cursive;
  color: #EEE;
  text-align: center;
}

.chalk-lines {
  background-image: url('board.png');
}

footer {
  font-size: 16px;
  margin-top: 40px;
}

#board {
  font-family: 'Finger Paint', cursive;
  color: #EEE;
  font-size: 100px;
  text-align: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
}

.choose-team, .choose-opponent {
  font-size: 30px;
  cursor: pointer;
}

.done, .game-over, .towel, .another-round {
  font-size: 25px;
  cursor: pointer;
}

.x, .o {
  margin: 20px;
  font-size: 50px;
  cursor: pointer;
}

.cpu, .human, .towel, .another-round {
  margin: 20px;
  cursor: pointer;
}

.x:hover, .o:hover, .cpu:hover, .human:hover, .pro:hover, .towel:hover, .another-round:hover {
  cursor: pointer;
  color: yellow;
  margin: 20px;
}

.beginner:hover {
  cursor: pointer;
  color: green;
  margin: 20px;
}

.pointless:hover {
  cursor: pointer;
  color: red;
  margin: 20px;
}

#tile-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 90px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

#tile-2 {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 100px;
  height: 100px;
  line-height: 90px;
  cursor: pointer;
}

#tile-3 {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 100px;
  height: 100px;
  line-height: 90px;
  cursor: pointer;
}

#tile-4 {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100px;
  height: 100px;
  line-height: 90px;
  cursor: pointer;
}

#tile-5 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  line-height: 90px;
  cursor: pointer;
}

#tile-6 {
  position: absolute;
  top: 100px;
  left: 200px;
  line-height: 90px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#tile-7 {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 100px;
  height: 100px;
  line-height: 90px;
  cursor: pointer;
}

#tile-8 {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 100px;
  height: 100px;
  line-height: 90px;
  cursor: pointer;
}

#tile-9 {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 100px;
  height: 100px;
  line-height: 90px;
  cursor: pointer;
}

a{color: #EEEEEE; text-decoration:none;}
