<div id="details">
<h2>Expense Details</h2>
<button ng-click="deleteAll()">Delete All</button>
<div class="exp-details row" ng-repeat="expense in expenses">
	<div class="col-sm-1"><button ng-click="delete()">Delete</button>
</div>
	<div class="col-sm-1"><button ng-click="edit()">Edit</button>
</div>
	<div class="col-sm-1">{{$index+1}} </div>
	<div class="col-sm-3">{{expense.category}} </div>
	<div class="col-sm-4"> {{expense.description}}</div>
	<div class="col-sm-2">{{expense.amount| currency:"$"}} </div>

</div>
</div>

<div id="summary">
<h2>Expense Summary</h2>


<div bar-chart data='summaryData' ></div>


</div>
<ul class="menu">
	<li><a href="#/home">Home</a>
	</li>
	<li><a href="#/add-expense">Add Expense</a>
     </li>

</ul>
