body {
  background-image: url("pencils-wallpapers.jpg");
  background-size: cover;
  margin-top: 50px;
  text-align: center;
}

.calculator {
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #555;
  background-color: #555;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.screen {
  margin-bottom: 10px;
  margin: auto;
  height: 75px;
  width: 210px;
  background-color: black;
  color: green;
  text-align: right;
  font-size: 30px;
  border-bottom: 4px solid #444;
  border-top: 4px solid #444;
  border-right: 4px solid #444;
  border-left: 4px solid #444;
  border-radius: 2px;
  font-family: sans-serif;
}

button {
  height: 50px;
  width: 51.5px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 3px;
}

button:active {
  background-color: #999;
  font-family: sans-serif;
  font-size: 19px;
  margin-bottom: 3px;
}



a{color:black; text-decoration:none;}