body {
  font-family:'Lato', sans-serif;
  font-weight: 100;
  color:#f9f9f9;
  background: #333;
  height: 100%;

}
.bg-image {
  position: fixed;
  top: 0;
  left:0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background: #333;
  opacity: 0.3;
  -webkit-user-drag: none;
}
h1 {
  font-size: 2.5em;
  font-weight: 100;
  margin-left: 5%;

}
.menu {
  list-style: none;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0 0 0.5em;

}
.menu li {
  margin: 2em 1em;
}
.menu a {
  color: #f9f9f9;
  font-size: 2em;
  text-decoration: none
}


.page-slide input , .page-slide select{
  display: block;
  padding:0.75em;
  margin: .5em 0 1em 0;
width: 90%;
font-size:1em;
border: thin solid #ccc;
}

button{
  background: #3E7504 ;
  color:#CCFF96;
  border: thin solid #3E7504;
  padding: 3px 8px;
  font-size: 1.2em;
  cursor:pointer;
}
#addForm .ng-pristine {
    background: none!important;
}
#addForm .ng-dirty {
    background:#FAC8C8;
}
#addForm .ng-valid {
    background: #E8FAC8
}
#addForm .ng-invalid {
    background: #FAC8C8
}
button:disabled {
    background: #ccc;
    color:#aaa;
}

.exp-details {
  clear: both;
}
.spaced{
  margin-top:30px;
  clear: both;
}
.exp-details >div {

  padding: 0.5em 0.2em;

}
hr{
  clear:both;
  width:100%
}
@media (max-width:500px){
.exp-details .id {
  width:10%;
  height:1.5em;
  float: left;
}
.exp-details .category {
  width:40%;
  height:1.5em;
    float: left;
}
.exp-details .details {
  width:90%;
  height:1.5em;
    float: left;
}
.exp-details .amount {
  width:30%;
  height:1.5em;
    float: left;
}
.exp-details .delete {
  width:90%;
  height:1.5em;
    float: left;
    margin-bottom:10px;
}
.newline {
  width:90%;
  height:5em;
}
}
@media (min-width:501px){
.exp-details .id {
  width:5%;
  height:1.5em;
  float: left;
}
.exp-details .category {
  width:20%;
  height:1.5em;
    float: left;
}
.exp-details .details {
  width:40%;
  height:1.5em;
    float: left;
}
.exp-details .amount {
  width:10%;
  height:1.5em;
    float: left;
}
.exp-details .delete {
  width:10%;
  height:1.5em;
    float: left;
    margin-bottom:10px;
}
.newline {
  width:90%;
  height:2em;
}
}


.newline {
  width:90%;
  height:2em;
}





.page-slide {
  padding: 2%;
  position: absolute;
  width: 85%;
  min-height:90% ;
  opacity: 0.8;
  background: #222;
  border: thin solid #111;
  margin: 0% 5% 5% ;
}

.page-slide.ng-enter,.page-slide.ng-leave{
   transition: all 0.1s ease-out;
   -moz-transition: all 0.1s ease-out;
   -webkit-transition: all 0.1s ease-out;
}

.slide-right.ng-leave{
  left:0%;
}

.slide-right.ng-leave-active {
  left:100%;
}

.slide-right.ng-enter {
  left:-100%;
}
.slide-right.ng-enter-active {
  left:0%;
}

.slide-left.ng-leave{
  left:0%;
}

.slide-left.ng-leave-active {
  left:-100%;
}

.slide-left.ng-enter {
  left:100%;
}
.slide-left.ng-enter-active {
  left:0%;
}
